/* @override 
	http://meosoft/code/plugins/wp-content/plugins/uBillboard/css/billboard-admin.css?ver=3.0.1 */

.wrap .updated.uds-warn {
	padding: 10px 15px;
	width: 790px;
}

.billboard-add, .billboard-move, .billboard-delete, .billboard-edit {
	background: url(../images/add.png) no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0px auto 5px;
	text-indent: -5000px;
}

.billboard-move {
	background: url(../images/move.png) no-repeat;
	cursor: crosshair;
}

.billboard-delete {
	background: url(../images/delete.png) no-repeat;
}

.billboard-edit {
	background: url(../images/edit.png) no-repeat;
}

.image-wrapper {
	width: 380px;
	height: 162px;
	float: left;
	position: relative;
	top: 0px;
	margin: 0px 20px -50px 0px;
}

.image-wrapper a {
	display: block;
	border: 1px solid #ccc;
	width: 380px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.image-wrapper a img {
	width: 380px;
	height: 162px;
	overflow: hidden;
}

.title-wrapper, .text-wrapper, .delay-wrapper, .transition-wrapper, .link-wrapper, .layout-wrapper {
	float: right;
	clear: right;
}

.uds-billboard-options {
	background: #fefefe;
	width: 778px;
	padding: 15px 20px 20px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border: 1px solid #ccc;
	border-bottom: none;
}

.uds-billboard-options .inside div {
	clear: both;
	margin-bottom: 10px;
	height: 20px;
	position: relative;
}

.uds-billboard-options .inside div.clear {
	height: 0px;
	margin-bottom: 0px;
}

.uds-billboard-options .submit {
	margin-right: 10px;
	position: relative;
	top: 205px;
	left: 40px;
}

.uds-billboard-options .close {
	display: block;
	background: url(../images/collapsed.png) no-repeat;
	opacity: 0.7;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.uds-billboard-options .close.closed {
	background-image: url(../images/collapse.png);
}

.uds-billboard-options h3 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	display: block;
	width: 600px;
	float: left;
	overflow: hidden;
}

.uds-billboard-options label {
	display: block;
	float: left;
	width: 250px;
}

.uds-billboard-options input {
	float: left;
}

.uds-billboard-options input[type=checkbox] {
	margin-top: 6px;
}

.uds-billboard-options .unit {
	float: left;
	display: block;
	padding: 2px 0px 0px 3px;
}

.uds-billboard-options .tooltip {
	background: url(../images/tooltip.png) no-repeat;
	text-indent: -100px;
	overflow: hidden;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 2px 0px 0px 10px;
}

.uds-billboard-options .inside .tooltip-content {
	display: none;
	position: absolute;
	width: 250px;
	height: auto;
	background: #222;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
	background: -moz-linear-gradient(270deg, #444, #222);
	color: #eee;
	z-index: 9;
	padding: 10px 15px;
	border: 1px solid white;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.uds-billboard-options .inside .tooltip-content img {
	display: block;
	clear: both;
	margin: 10px 0px 5px 0px;
}

.uds-billboard-form{
	max-width: 820px;
}

.uds-billboard-form table {
	min-width: 820px;
	width: 820px;
	border-collapse: collapse;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.uds-billboard-form table label {
	display: block;
	float: left;
	text-align: left;
	width: 100px;
}

.uds-billboard-form table input {
	width: 210px;
}

.uds-billboard-form table textarea {
	width: 210px;
	height: 100px;
}

.uds-billboard-form table select {
	width: 210px;
}

.uds-billboard-form table td {
	border: 1px solid #ccc;
	padding: 20px;
	vertical-align: top;
	height: 240px;
	background: #f9f9f9;
}

.uds-billboard-form {
	margin: 30px 0px 30px 0px;
}

.uds-billboard-form .submit {
	float: right;
	padding: 5px 20px;
}

.uds-billboard-admin-table {
	width: 820px;
	border-collapse: collapse;
}

.uds-billboard-admin-table td,
.uds-billboard-admin-table th {
	border: solid 1px #ccc;
	padding: 10px;
}

.uds-billboard-admin-table th {
	background: #eee;
}

.uds-billboard-admin-table td.id,
.uds-billboard-admin-table td.edit,
.uds-billboard-admin-table td.delete {
	width: 25px;
	text-align: center;
}