.billboard-add, .billboard-move, .billboard-delete {
	background: url(../images/add.png) no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
	text-indent: -5000px;
}

.billboard-move {
	background: url(../images/move.png) no-repeat;
	cursor: crosshair;
}

.billboard-delete {
	background: url(../images/delete.png) no-repeat;
}

.image-wrapper {
	width: 380px;
	height: 162px;
	float: left;
	position: relative;
	top: 0px;
	margin: 0px 20px -50px 0px;
}

.image-wrapper a {
	display: block;
	border: 1px solid #ccc;
	width: 380px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.image-wrapper a img {
	width: 380px;
	height: 162px;
	overflow: hidden;
}

.title-wrapper, .text-wrapper, .delay-wrapper, .transition-wrapper, .link-wrapper, .layout-wrapper {
	float: right;
	clear: right;
}

.uds-billboard-form {
	max-width: 820px;
}

.uds-billboard-form table {
	min-width: 820px;
	width: 820px;
	border-collapse: collapse;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 40px;
}

.uds-billboard-form table label {
	display: block;
	float: left;
	text-align: left;
	width: 100px;
}

.uds-billboard-form table input {
	width: 210px;
}

.uds-billboard-form table textarea {
	width: 210px;
	height: 100px;
}

.uds-billboard-form table select {
	width: 210px;
}

.uds-billboard-form table td {
	border: 1px solid #ccc;
	padding: 20px;
	vertical-align: top;
	height: 240px;
	background: #f9f9f9;
}

.uds-billboard-form {
	margin: 30px 0px 30px 0px;
}

.uds-billboard-form .submit {
	float: right;
	padding: 5px;
}