/* @override 
	http://meosoft/code/plugins/wp-content/plugins/uBillboard/css/billboard-admin.css?ver=3.0.1 */

#billboard_update_form .editor-wrapper {
    clear: left;
    float: left;
    margin-right: -340px;
    width: 100%;
}

#billboard_update_form .editor-body {
    margin-right: 300px;
}

.postbox .deletediv {
    cursor: pointer;
    float: right;
    height: 30px;
    width: 27px;
}

.postbox .deletediv:hover {
    background: black;
}

.postbox hr {
	color: transparent;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #fff;
}

.uds-slide-tabs {
	margin: 20px 10px 20px 60px;
}

.uds-slide-tabs ul {
	width: 100%;
	height: 22px;
	clear: both;
	border-bottom: 1px solid #bbb;
	padding-left: 10px;
}

.uds-slide-tabs ul li {
	float: left;
	padding: 3px;
	margin: 0px 0px 20px;
}

.uds-slide-tabs ul li a {
	color: #333;
	text-decoration: none;
	border: 1px solid #bbb;
	padding: 3px 4px;
	background: #f1f1f1;
}

.uds-slide-tabs ul li.ui-state-active a {
	background: #f9f9f9;
	border-bottom: 1px solid #f5f5f5;
}

/*-------------------------------------------*/

.wrap .updated.uds-warn {
	padding: 10px 15px;
	width: 790px;
}

.billboard-add, .billboard-move, .billboard-delete, .billboard-edit {
	background: url(../images/add.png) no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0px auto 5px;
	text-indent: -5000px;
}

.billboard-move {
	background: url(../images/move.png) no-repeat;
	cursor: crosshair;
}

.billboard-delete {
	background: url(../images/delete.png) no-repeat;
}

.billboard-edit {
	background: url(../images/edit.png) no-repeat;
}

.slide .inside {
	position: relative;
	overflow: hidden;
}

.image-wrapper {
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 50px;
}

.delay-wrapper, .layout-wrapper, .transition-wrapper, .direction-wrapper {
	float: left;
	margin-right: 10px;
}

.delay-wrapper select, .layout-wrapper select, .transition-wrapper select, .direction-wrapper select {
	width: 150px;
}

.image-url-wrapper input {
	padding-left: 23px;
}

.image-url-wrapper a {
	display: block;
	width: 14px;
	height: 12px;
	top: -18px;
	left: 7px;
	position: relative;
}

.uds-billboard-options {
	background: #fefefe;
	width: 778px;
	padding: 15px 20px 20px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border: 1px solid #ccc;
	border-bottom: none;
}

.uds-billboard-options .inside div {
	clear: both;
	margin-bottom: 10px;
	height: 20px;
	position: relative;
	width:  690px;
}

.uds-billboard-options .inside div.clear {
	height: 0px;
	margin-bottom: 0px;
}

.uds-billboard-options .submit {
	margin-right: 10px;
	position: relative;
	top: 365px;
	left: 40px;
}

.uds-billboard-options .close {
	display: block;
	background: url(../images/collapsed.png) no-repeat;
	opacity: 0.7;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.uds-billboard-options .close.closed {
	background-image: url(../images/collapse.png);
}

.uds-billboard-options h3 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	display: block;
	width: 600px;
	float: left;
	overflow: hidden;
}

.uds-billboard-options label {
	display: block;
	float: left;
	width: 250px;
}

.uds-billboard-options input {
	float: left;
}

.uds-billboard-options input[type=checkbox] {
	margin-top: 6px;
}

.unit {
	float: left;
	display: block;
	padding: 4px 0px 0px 3px;
}

.tooltip {
	background: url(../images/tooltip.png) no-repeat;
	text-indent: -100px;
	overflow: hidden;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 2px 0px 0px 10px;
}

.tooltip-content {
	display: none;
	position: absolute;
	width: 250px;
	height: auto;
	background: #222;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
	background: -moz-linear-gradient(270deg, #444, #222);
	color: #eee;
	z-index: 9;
	padding: 10px 15px;
	border: 1px solid white;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tooltip-content img {
	display: block;
	clear: both;
	margin: 10px 0px 5px 0px;
}

.uds-billboard-form{
}

.uds-billboard-form label {
	display: block;
	text-align: left;
	width: 130px;
	margin: 0px 5px 5px 5px;
}

.uds-billboard-form input {
	width: 100%;
}

.uds-billboard-form  textarea {
	width: 90%;
	height: 100px;
}

.uds-billboard-form {
}

.uds-billboard-form .submit {
	float: right;
	padding: 5px 20px;
}

/* Options */
#billboard_update_form #minor-publishing-actions {
	margin-bottom: 10px;
	text-align: left;
}

.option-container label {
	float: left;
	padding: 5px 0px 0px 0px;
	width: 150px;
}

.option-container.select label {
	display: none;
}

.option-container input.text {
	width: 50px;
	float: left;
	margin: 0px 0px 0px 5px;
}

.option-container input.checkbox {
	width: auto;
	float: left;
	margin: 5px 0px 0px 5px;
}

.option-container select {
	width: 250px;
	float: left;
	margin: 1px 0px 0px 5px;
}

.option-container {
	margin-bottom: 10px;
}

/* Slides D&D */
.uds-slides-order {
	margin: 10px 0px 10px 0px;
}

.uds-slides-order li {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 3px 5px;
	cursor: move;
}

.uds-slides-order li.uds-slide-placeholder {
	height: 17px;
	border-style: dashed;
}