#uds-billboard-wrapper {
	background: #efefef;
	position: relative;
	padding: 0px;
	overflow: hidden;
	margin-bottom: 36px;
}

#uds-loader {
	background: url(../images/load.gif) -160px 0px no-repeat;
	width: 160px;
	height: 20px;
	border: 1px solid #666;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

#uds-billboard, #uds-next-slide {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#uds-billboard {
	z-index: 1;
	left: 0px;
}

#uds-next-slide div {
	position: absolute;
	background-repeat: no-repeat;
}

#uds-billboard-controls {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	overflow: hidden;
}

#uds-billboard-paginator {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 7px 2px 7px 7px;
	z-index: 5;
	background: url(../images/bg_dark.png) repeat;
	background: rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#uds-billboard-paginator a {
	background: url(../images/slide.png) no-repeat;
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 5px;
}

#uds-billboard-paginator a.current, #uds-billboard-paginator a:hover {
	background: url(../images/slide-current.png) no-repeat;
}

#uds-billboard-description {
	position: absolute;
	z-index: 4;
}

#uds-billboard-controls .none {
	display: none;
}

#uds-billboard-playback {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#uds-billboard-playback-prev,
#uds-billboard-playback-playpause,
#uds-billboard-playback-next {
	position: absolute;
	width: 50px;
	height: 50px;
	overflow: hidden;
	top: 50%;
}

#uds-billboard-playback-prev {
	background-image: url(../images/playback-prev.png);
	left: 20px;
}

#uds-billboard-playback-playpause {
	background-image: url(../images/playback-play.png);
	left: 50%;
}

#uds-billboard-playback-playpause.playing {
	background-image: url(../images/playback-pause.png);
}

#uds-billboard-playback-next {
	background-image: url(../images/playback-next.png);
	right: 20px;
}

#uds-billboard-controls .uds-descr {
	margin: 20px;
}

#uds-billboard-controls .stripe-bottom, #uds-billboard-controls .stripe-bottom.alt {
	background: url(../images/bg_dark.png) repeat;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 1px 1px 1px #222;
	bottom: 0px;
	width: 100%;
}


#uds-billboard-controls .stripe-left, #uds-billboard-controls .stripe-left.alt {
	background: url(../images/bg_dark.png) repeat;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 1px 1px 1px #222;
	top: 0px;
	left: 0px;
	width: 30%;
	height: 100%;
}

#uds-billboard-controls .stripe-right, #uds-billboard-controls .stripe-right.alt {
	background: url(../images/bg_dark.png) repeat;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 1px 1px 1px #222;
	top: 0px;
	width: 30%;
	height: 100%;
}

#uds-billboard-controls .stripe-left.alt,
#uds-billboard-controls .stripe-right.alt,
#uds-billboard-controls .stripe-bottom.alt {
	background: url(../images/bg_light.png) repeat;
	background: rgba(255, 255, 255, 0.5);
	color: #222;
	text-shadow: none;
}

#uds-billboard-controls .stripe-left.alt a.read-more,
#uds-billboard-controls .stripe-right.alt a.read-more,
#uds-billboard-controls .stripe-bottom.alt a.read-more {
	text-shadow: none;
}

.uds-slide {
	display: none;
}

.uds-descr h2 {
	color: white;
	text-shadow: 1px 1px 1px #222;
	font-weight: bold;
	line-height: 30px;
	font-size: 24px;	
	margin-bottom: 10px;
}

.uds-descr p {
	margin-top: 19px;
	margin-bottom: 10px;
}

.uds-descr a.read-more {
	padding: 3px 0px 3px 6px;
	background: #e6212e;
	color: white;
	text-shadow: none;
	text-decoration: none;
	display: block;
	width: 65px;
	margin-top: 10px;
}

body .uds-descr a.read-more:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 1px #222;
}
