/* General uBillboard */
.uds-bb {
	
}

.uds-bb-slides {
	position: relative;
}

.uds-bb-slide {

}

.uds-stage {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.uds-next {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}

.uds-square {
	position: absolute;
	overflow: hidden;
}

.uds-square-inside {
	position: absolute;
}

/* Descriptions */
.uds-bb-description {
	position: absolute;
	padding: 10px;
}

.uds-bright .uds-bb-description,
.uds-bb .uds-bb-description.uds-bright {
	background: url(../images/bg-bright.png);
	color: #222;
}

.uds-dark .uds-bb-description,
.uds-bb .uds-bb-description.uds-dark {
	background: url(../images/skin-oldskool/bg.png);
	color: #fafafa;
	text-shadow: 1px 1px 1px #222;
}

/* Controls */
.uds-bb-controls {
	position: relative;
	z-index: 3;
}

.uds-bb-countdown {
	float: right;
	left: -85px;
	top: -10px;
	position: relative;
}

.uds-bb-countdown canvas {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 3;
}

	/* Paginator */
	.uds-bb-paginator {
		position: absolute;
		z-index: 3;
	}
	
	.uds-bb-paginator .uds-bb-button {
		float: left;
		text-indent: -5000px;
		cursor: pointer;
	}
	
	/* Mini skin */
	.uds-bb-paginator.mini {
		background: white;
		right: 20px;
		bottom: 20px;
		padding: 5px;
	}
	
	.uds-bb-paginator.mini .uds-bb-button {
		
	}
	
	.uds-bb-paginator.mini .uds-bb-playpause {
		width: 14px;
		height: 14px;
		background: url(../images/minimal-controls.png) no-repeat;
		margin-right: 1px;
	}
	
	.uds-bb-paginator.mini .uds-bb-playpause:hover {
		background: url(../images/minimal-controls-hover.png) no-repeat;
	}
	
	.uds-bb-paginator.mini .uds-bb-next {
		width: 14px;
		height: 14px;
		background: url(../images/minimal-controls.png) no-repeat -30px 0px;
		margin-right: 3px;
	}
	
	.uds-bb-paginator.mini .uds-bb-next:hover {
		background: url(../images/minimal-controls-hover.png) no-repeat -30px 0px;
	}
	
	.uds-bb-paginator.mini .uds-bb-prev {
		width: 14px;
		height: 14px;
		background: url(../images/minimal-controls.png) no-repeat -15px 0px;
		margin-right: 1px;
	}
	
	.uds-bb-paginator.mini .uds-bb-prev:hover {
		background: url(../images/minimal-controls-hover.png) no-repeat -15px 0px;
	}
	
	.uds-bb-paginator.mini .uds-bb-position-indicator {
		font-size: 12px;
		float: left;
		height: 14px;
		line-height: 16px;
		color: #222;
		margin-top: -1px;
	}
	
	
	/* Oldskool uBillboard skin */
	.uds-bb-paginator.oldskool {
		width: 100%;
		height: 100%;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-button {
		background: url(../images/skin-oldskool/bg.png);
		width: 30px;
		height: 30px;
		padding: 8px 10px;
		border-radius: 3px;
		cursor: pointer;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-button span {
		background: no-repeat center center;
		display: block;
		width: 30px;
		height: 30px;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-playpause {
		position: absolute;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-playpause.play span {
		background-image: url(../images/skin-oldskool/play.png);
	}
	
	.uds-bb-paginator.oldskool .uds-bb-playpause.pause span {
		background-image: url(../images/skin-oldskool/pause.png);
	}

	.uds-bb-paginator.oldskool .uds-bb-next {
		position: absolute;
		right: 10px;
	}

	.uds-bb-paginator.oldskool .uds-bb-next span {
		background-image: url(../images/skin-oldskool/next.png);
	}
	
	.uds-bb-paginator.oldskool .uds-bb-prev {
		position: absolute;
		left: 10px;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-prev span {
		background-image: url(../images/skin-oldskool/prev.png);
	}
	
	.uds-bb-paginator.oldskool .uds-bb-position-indicator-bullets {
		background: url(../images/skin-oldskool/bg.png);
		position: absolute;
		bottom: 10px;
		right: 10px;
		padding: 3px 5px;
		border-radius: 3px;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-bullet {
		background: url(../images/skin-oldskool/bullet.png) no-repeat;
		width: 10px;
		height: 10px;
		float: left;
		margin: 2px;
		cursor: pointer;
	}
	
	.uds-bb-paginator.oldskool .uds-bb-bullet.active {
		background: url(../images/skin-oldskool/bullet-active.png) no-repeat;
	}

/* Thumbnails */
.uds-bb-thumbnails {
	position: absolute;
	z-index: 3;
	background: url(../images/skin-oldskool/bg.png);
	overflow: hidden;
}
	.uds-bb-thumbnail-container {
		display: block;
		position: relative;
	}

	.uds-bb-thumbnails.bottom {
		bottom: -80px;
		width: 100%;
		background: url(../images/bg-bright.png) #333;
		padding: 4px 0px;
	}
	
	.uds-bb-thumbnails.bottom.inside, .uds-bb-thumbnails.top.inside {
		background: url(../images/skin-oldskool/bg.png);
	}
	
	.uds-bb-thumbnails.top {
		top: -80px;
		width: 100%;
		background: url(../images/bg-bright.png) #333;
		padding: 4px 0px;
	}
	
	.uds-bb-thumbnails.left {
		left: -100px;
		height: 100%;
		background: url(../images/bg-bright.png) #333;
	}
	
	.uds-bb-thumbnails.left.inside {
		background: url(../images/skin-oldskool/bg.png);
	}
	
	.uds-bb-thumbnails.right {
		right: -100px;
		height: 100%;
	}
	
	.uds-bb-thumbnails.inside.bottom {
		bottom: 0px;
	}
	
	.uds-bb-thumbnails.inside.top {
		top: 0px;
	}
	
	.uds-bb-thumbnails.inside.left {
		left: 0px;
	}
	
	.uds-bb-thumbnails.inside.right {
		right: 0px;
	}
	
	.uds-bb-thumb {
		margin: 5px;
		cursor: pointer;
		background: url(../images/bg-bright.png) #ededed;
		padding: 5px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 1px 1px 1px #000;
 		-webkit-box-shadow: 1px 1px 1px #000;
  		box-shadow: 1px 1px 1px #000;
  		line-height: 0;
	}
	
	.uds-bb-thumbnails.bottom .uds-bb-thumb,
	.uds-bb-thumbnails.top .uds-bb-thumb {
		float: left;
	}
	
	